---
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";

const meta_description =
  "Découvrez ConnectAnnounce, l'application révolutionnaire conçue pour les lieux de culte et organisations. Gérez annonces, événements et engagez votre communauté avec facilité. Rejoignez-nous pour une communication plus connectée et dynamique.";
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta_description} />
    <title>
      ConnectAnnounce | Transformez la Communication de Votre Communauté
    </title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
